<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
</head>
<body>

    <h1>User Data</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Timestamp</th>
            </tr>
        </thead>
        <tbody>
        
            {% for user_row in user_data %}
                <tr>
                    <td>{{ user_row[0] }}</td>
                    <td>{{ user_row[1] }}</td>
                    <td>{{ user_row[2] }}</td>
                    <td>{{ user_row[3] }}</td>
                </tr>
            {% endfor %}
        
        </tbody>
    </table>
</body>
</html>
