 <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="HAS10 - Football cleat covers promotion">
    <meta name="author" content="Ansonika">
    <title>HAS10 | Football cleat covers promo</title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/apple-touch-icon-72x72-precomposed.png') }}" type="image/x-icon">
	<link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="{{ url_for('static', filename='img/apple-touch-icon-72x72-precomposed.png') }}">

    <!-- GOOGLE WEB FONT -->
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500,600" rel="stylesheet">

    <!-- BASE CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
	
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/vendors.css') }}" rel="stylesheet"> 

    <!-- YOUR CUSTOM CSS -->
    <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">

	
	<!-- MODERNIZR MENU -->
	

</head>

<body>
	
	<div id="preloader">
		<div data-loader="circle-side"></div>
	</div><!-- /Preload -->
	
	<div id="loader_form">
		<div data-loader="circle-side-2"></div>
	</div><!-- /loader_form -->
	
	
	<!-- /menu -->
	
	<div class="container-fluid">
	    <div class="row row-height">
	        <div class="col-xl-4 col-lg-4 content-left">
	            <div class="content-left-wrapper">
					<a href="https://www.amazon.com/dp/B0CHMVWB1P" id="logo"><img src="{{ url_for('static', filename='img/logo.png') }}" alt="" width="45" height="45"></a>
	                
	                <div>
	                    <figure><img src="{{ url_for('static', filename='img/HAS10-football-spats.png') }}" alt="" class="img" width="270" height="270"></figure>
	                    <h2>Get 25% Off + FREE Cleat Covers!</h2>
	                    <p>Shop our products on Amazon and claim a FREE pair! Simply share your purchase confirmation with us.</p>
	                    
	                    
	                </div>
	                <div class="copy">© 2024 HAS10</div>
	            </div>
	            <!-- /content-left-wrapper -->
	        </div>
	        <!-- /content-left -->
	        <div class="col-xl-8 col-lg-8 content-right" id="start">
	            <div id="wizard_container">
	                <div id="top-wizard">
	                    <span id="location"></span>
	                   
	                </div>
	                <!-- /top-wizard -->
					<form id="wrapped" method="post" enctype="multipart/form-data" action="{{ url_for('main_app.landing_page') }}">
	                    <input id="website" name="website" type="text" value="">
	                    <!-- Leave for security protection, read docs for details -->
	                    <div>
	                        <div>
								<div>
									<h3 class="main_question">Unlock Exclusive Amazon Savings! 🌟</h3>
									<p>🎁 Enjoy a 25% discount on our Cleat Covers – no strings attached!</p>
									<p>👟 Plus, score a FREE pair of cleat covers if you love our products (and we're sure you will).</p>
								</div>
								<ol>
									<li>
										<h2 class="section_title">Here's How to Claim Your Rewards:</h2>
										<ol>
											<li>Fill out the form with your name and email to receive a personalized Promo Code.</li><br>
											<li>Check your inbox for the exclusive code, and head to Amazon to shop for your favorite Cleat Covers.</li><br>
											<li>Apply the Promo Code at checkout for a 25% discount. Optionally, share a screenshot of your purchase to receive a FREE pair of cleat covers as a thank-you gift. 🎁</li><br>
											
										</ol>
										
									</li>	
									
									<form id="wrapped" method="post" enctype="multipart/form-data" action="{{ url_for('main_app.landing_page') }}">
										<input id="website" name="website" type="text" value="">
										<div>
											<div>
												<div class="form-group add_top_30">
													<label for="name">First and Last Name</label>
													<input type="text" name="name" id="name" class="form-control required";">
												</div>
												<div class="form-group">
													<label for="email">Email Address</label>
													<input type="email" name="email" id="email" class="form-control required";">
												</div>
												<div id="bottom-wizard">
											
													<button type="submit" name="process" class="submit">GET PROMO CODE</button>
												</div>
											</div>
										</div>
									</form>									
								</ol>
	                            
	                        </div>
	                        

	                    </div>
	                    <!-- /middle-wizard -->
	                    
	                    <!-- /bottom-wizard -->
	                </form>
	            </div>
	            <!-- /Wizard container -->
	        </div>
	        <!-- /content-right-->
	    </div>
	    <!-- /row-->
	</div>
	<!-- /container-fluid -->

	<div class="cd-overlay-nav">
		<span></span>
	</div>
	<!-- /cd-overlay-nav -->

	<div class="cd-overlay-content">
		<span></span>
	</div>
	<!-- /cd-overlay-content -->
	
	<!-- COMMON SCRIPTS -->
	<script src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/common_scripts.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/velocity.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/common_functions.js') }}"></script>
	<script src="{{ url_for('static', filename='js/file-validator.js') }}"></script>

	<!-- Wizard script-->
	<!-- <script src="{{ url_for('static', filename='js/func_1.js') }}"></script> -->


</body>
</html>